<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <form action="/login" method="POST">
        <div class="login">
        <div class="login-screen">
        <div class="app-title">
        <h1>Login</h1>
        </div>
        <div class="login-form">
        <div class="form-outline mb-4">
                        <input type="text" class="form-control" value="" placeholder="username" name="username">
        <label class="login-field-icon fui-user" for="login-name"></label></div>

        <div class="form-outline mb-4">
                        <input type="password" class="form-control" value="" placeholder="password" name="password">
        <label class="login-field-icon fui-lock" for="login-pass"></label></div>
        
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <!-- Checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                <label class="form-check-label" for="form2Example31"> Remember me </label>
              </div>
            </div>
        <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
        
        </div>
        </div>
        </div>
        </form>

</body>
</html>
